.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #45b0b4, #4591b4, #4570b4, #6345b4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #45b0b4, #4591b4, #4570b4, #6345b4);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
.form-outline {
    position: relative;
}


    .form-label.active {
        top: -15px;
        left: 10px;
        font-size: 12px;
        color: blue; /* or any color you prefer */
    }

.form-control {
    padding-top: 15px; /* Adjust the top padding to make space for the label */
}

.form-label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease;
    pointer-events: none;
    color: #495057; /* Default label color */
}

.form-control:focus ~ .form-label {
    top: -15px;
    left: 10px;
    font-size: 12px;
    color: blue; /* Change label color when focused */
}